<angular2-fullcalendar id="calendar" [options]="calendarOptions" (initialized)="onCalendarInit($event)"></angular2-fullcalendar>

<div id="openEvent" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{selectedEvent.title}}</h4>
        </div>
        <div class="modal-body">
          
          <div *ngIf="isModalLoader" style="margin:auto;height:60px;width:60px;margin-top:30px;" class="loader"></div>
          <div *ngIf="!isModalLoader">
            <img [src]="selectedEvent.employeePicUrl" style="width:150px;height:150px;">
            <div>
              {{selectedEvent.employeName}} <br>
              {{selectedEvent.createdAt | date}} <br>
              <br>
              Start : {{selectedEvent.start | date}} <br>
              End : {{selectedEvent.end | date}} <br><br>
              {{selectedEvent.mainAudienceName}} <br>
              <span *ngFor="let audi of selectedEvent.audiences">
                {{audi }}
              </span>
              <br>
              <br>
              Description : <br> 
              {{selectedEvent.description}}
              <br>
              <br>
              <span *ngIf="selectedEvent.location">
              Location : <br>
              {{selectedEvent.location}}
            </span>
              <br>
              <br>
              <span *ngIf="selectedEvent.files">
                Files : <br>
                <a *ngFor="let file of selectedEvent.files" [href]="file.fileUrl">
                  <span class="glyphicon glyphicon-download-alt"></span> {{file.fileOriginalName}}
                  <br>
                </a>
              </span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="addEvent" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Event</h4>
        </div>
        <div class="modal-body">
          <label for="title"> Title <span class="badge">{{50 - title.length}}</span></label>
          <input type="text" class="form-control" [(ngModel)]="title" maxlength="50" >
          

          <label for="title"> Description <span class="badge">{{2500 - description.length}}</span></label>
          <textarea class="form-control" [(ngModel)]="description" maxlength="2500" ></textarea>
          
          <label for="start">Start Date</label>
          <input type="date" (change)="check()" class="form-control" [(ngModel)]="startDate">

          <label for="start">End Date</label>
          <input type="date" (change)="check()" [(ngModel)]="endDate" class="form-control">
          <label for="invalidDate" *ngIf="dateInvalid">End Date Must Be Greater Than Start Date</label><br>

          <label for="start">Start Time</label>
          <input type="time" (change)="check()" [(ngModel)]="startTime" class="form-control">

          <label for="start">End Time</label>
          <input type="time" (change)="check()" [(ngModel)]="endTime" class="form-control">
          <label for="invalidTime" *ngIf="timeInvalid">End Time Must Be Greater Than Start Time</label><br>
          
          <audience #audi ></audience>

          <label for="location">Location (optional)</label>
          <input type="text" class="form-control" [(ngModel)]="location">
          
          <image-upload #img></image-upload>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="submit()" data-dismiss="modal"  >Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


