.sideMenu-item{
    list-style-type:none;
    text-align: center;
    /* background: green; */
    color:green;
    padding:12px 32px 12px 32px;
    border : 1px solid green;
    border-top-width: 0px;
}