a{
    color:white;
    cursor: pointer;
}
a:hover{
    color:white !important;
    background-color:transparent !important;
    border-color : transparent !important;
}
/* .invalid{
    border:1px solid #ff0000b8;
} */