

span.edit-symbol:hover{
    background-color : #008080;
    border-color : #008080 !important;
    color:white;
}

span.delete-symbol:hover{
    background-color : red;
    border-color : red !important;
    color:white;
}

.positive{
    color:green;
}

.negative{
    color:red;
}


a{
    cursor: pointer;
    color : white;
}

a:hover{
    color : green;
}

.sideMenu-item{
    list-style-type:none;
    text-align: center;
    /* background: green; */
    color:green;
    padding:12px 32px 12px 32px;
    border : 1px solid green;
    border-top-width: 0px;
}